@import "css/style.css";

.header {
/* 	background-size: contain;
	background-size: 100%;
	height: 50vh;
	position: relative;
	background-repeat: no-repeat; */
	display: inline-block;
	position: relative;
	background: url('images/header.jpg') top center no-repeat;
	background-size: cover;
	
	margin: 0 auto;
	width: 100%;
}

.header::after{
	padding-top: 10.5%;
	/* this image is 302/958 so set the padding top % to match 302/958 = .75 */
	display: block;
	content: '';
	
}


#hPic{
	visibility: hidden;
}

#hWrap {
	height: 40%;
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
}



#hWrap img {
	display: inline-block;
	margin-left: 15vw;
	width: 203px;
	height: 185px;
}


#HeadP {
	display: inline-block;
	margin: 0;
	font: italic normal 38px/120% Oswald, sans-serif;
	position: relative;
	/* 	font-style: italic; */
	color: white;
	font-weight: 900;
	font-size: 40px;
	right: -5vw;
	width: 50vw;

}

#content {
	background-color: rgb(255, 255, 255);
}

/* #region  Bildübergang */



#BildUebergang {
	position: relative;
	background: rgb(255, 255, 255);
	align-items: center;

	display: flex;
	height: 50vh;
	overflow: hidden;
	top: 30px;

}

#BildUebergang img {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	height: auto;
	transform: scale(1.4) rotate(12deg);
	opacity: 0;
	backface-visibility: hidden;
	animation: BildUebergang 24s infinite;
	background: #000;
	object-fit: scale-down;
}

#BildUebergang img:nth-child(3) {
	animation-delay: 8s;
}

#BildUebergang img:nth-child(2) {
	animation-delay: 12s;
}

#BildUebergang img:nth-child(1) {
	animation-delay: 10s;
}

@-moz-keyframes BildUebergang {
	25% {
		opacity: 1;
		transform: scale(1) rotate(0);
	}

	40% {
		opacity: 0;
	}
}

@-webkit-keyframes BildUebergang {
	25% {
		opacity: 1;
		transform: scale(1) rotate(0);
	}

	40% {
		opacity: 0;
	}
}

@-o-keyframes BildUebergang {
	25% {
		opacity: 1;
		transform: scale(1) rotate(0);
	}

	40% {
		opacity: 0;
	}
}

@keyframes BildUebergang {
	25% {
		opacity: 1;
		transform: scale(1) rotate(0);
	}

	40% {
		opacity: 0;
	}
}

/* #endregion */


