@import "css/style.css";


@media only screen and (max-width: 640px){

	.header p{
		visibility: hidden;
	}
}

#content {
	background-color: rgb(255, 255, 255);
}

/* #region  Bildübergang */



#BildUebergang {
	position: relative;
	background-image: url('images/images_startseite/Bild 2.jpg');
	align-items: center;
	background-size: cover;
	display: flex;
	height: 50vh;
	overflow: hidden;
	top: 30px;

}

#BildUebergang img {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	height: auto;
	transform: scale(1.4) rotate(12deg);
	opacity: 0;
	backface-visibility: hidden;
	animation: BildUebergang 24s infinite;
	background: #000;
	object-fit: scale-down;
	animation-delay: 5s;
}

#BildUebergang img:nth-child(3) {
	animation-delay: 8s;
}

#BildUebergang img:nth-child(2) {
	animation-delay: 12s;
}

#BildUebergang img:nth-child(1) {
	animation-delay: 10s;
}

@-moz-keyframes BildUebergang {
	25% {
		opacity: 1;
		transform: scale(1) rotate(0);
	}

	40% {
		opacity: 0;
	}
}

@-webkit-keyframes BildUebergang {
	25% {
		opacity: 1;
		transform: scale(1) rotate(0);
	}

	40% {
		opacity: 0;
	}
}

@-o-keyframes BildUebergang {
	25% {
		opacity: 1;
		transform: scale(1) rotate(0);
	}

	40% {
		opacity: 0;
	}
}

@keyframes BildUebergang {
	25% {
		opacity: 1;
		transform: scale(1) rotate(0);
	}

	40% {
		opacity: 0;
	}
}

/* #endregion */


