@import "../../css/style.css";


#kommandant{
	display: flex;
	width: 100%;
	overflow: hidden;
	
}

#kommandant-text{
	width: 100%;
}


#kommandant-pic{
	background-image: url("../../images/Kommando/kommandant.jpg");
	background-repeat: no-repeat;
	width: 100%;
	right: 10px;
	background-position: center;
	background-size: cover;
}


#kommandantstv{
	display: flex;
	width: 100%;
	overflow: hidden;
	text-align: right;
}

#kommandantstv-text{
	width: 100%;
}

#kommandantstv-pic{
	background-image:url("../../images/Kommando/kommandantstv.jpg");
	background-repeat: no-repeat;
	width: 100%;
	left: 10px;
	background-position: center;
	background-size: cover;
}


