@import "../../css/style.css";

.header{
	margin-top: -13vh;
	position: fixed;
	display: flex;
	height: 13vh;
	width: 100%;
	background-image: url('../../images/header.jpg');
	background-repeat: no-repeat;
	z-index: 100;
	background-size: cover;
	

}

.header p{
	line-height: 13vh;
	font-family: 'Calibri';
	font-size: 7vh;
	width: 100%;
	text-align: center;
	color: var(--ffRed);
	font-weight: bold;
}

body{
	padding-top: 13vh;
}

#wappen{
	width: 100%;
	background-image: url('../../images/wappen.png');
	height: 184px;
	margin-bottom: 10px;
}

#tableHeader{
	color: grey;
	font-size: 20px;
}


#MitgliederListe th{
	padding: 0 10px;
	color: black;
}

