@import "../../css/style.css";


.ueberschrift{
    text-align: center;
    font-size: 3.7vh;
    font-weight: 650;
}

.artikel{
    width: 100%;
    height: auto;

}

.artikel-titel{
    padding-left: 2vw;
    font-size: 2.8vh;
    font-weight: 700;
    
}

.artikel-text{
    padding-left: 2vw;
    font-size: 2.5vh;
    font-weight: 500;
    
}

.jugendfoto{
    width: 90%;
    margin: 30px auto;
    height: 80vh;
    background-position: center;
    background-size: cover;
}













