@import "../../css/style.css";

#content h1 {

	color: grey;

}

#content table {
	margin-top: 30px;
}

#content th{
	padding: 0 10px !important;
	font-size: 25px;
	font-weight: 300;
}

#tableheader{
	margin: 10px;
	margin-bottom: 20px;
	font-size: 28px;
	font-weight: 600 !important;
}













